<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Log
      </h1>
      <h2 class="subtitle">
        Check sailboat logs
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <pre>Current Position: {{sailboat.at_lat}}, {{sailboat.at_lon}}</pre>
    <pre>Destination Position: {{sailboat.dest_lat}}, {{sailboat.dest_lon}}</pre>
    <pre>Message: {{sailboat.message}}</pre>
    <pre>Time: {{ sailboat.time }}</pre>
  </div>
</section>
