<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/logo.svg" style=" height: auto; width: 70px;" />
    </a>
    <h3 class="navbar-item has-text-weight-medium is-size-4"> SS Agneta Log </h3>
  </div>
  <div class="navbar-menu is-active">
    <div class="navbar-end">
      <a class="navbar-item" href="/coords">
        Coords
      </a>
      <a class="navbar-item" href="/log">
        Log
      </a>
    </div>
  </div>
</nav>
