<!-- <section class="hero is-info is-half">
     <div class="hero-body">
     <div class="container">

     </div>
     </div>
     </section>
-->
<section class="section">
  <div class="container">
    <h1 class="title"> Welcome to the control page for the RC sailboat SS Agneta </h1>
    <article class="message">
      <div class="message-header">Info </div>
      <div class="message-body">
        <p>This project is a part of <b> Åland Polytechinc </b> and is currently under development
          as a part of a course the school calls the "PoP course" </p>
        <br />
        <p>Before the COVID-19 pandemic occured, the idea was that we were to have raced with <b> SS Agneta </b>
        against other invited schools to see which RC sailboat was the best during several races, while this has now been cancelled,
        the team has instead set the goal on making the sailboat run with new code, that follows the GSG(Google Style Guide) for C++,
        <br/>also setting the focus on making the previous year's code testable and much more efficient. </p>
      </div>
    </article>
    <br />
    <article class="message is-info">
      <div class="message-header"> Links for everything used </div>
      <div class="message-body">
        <a href="https://github.com/SilverSailors/SailingBoat" class="link"> Sailboat code </a> <br/>
        <a href="https://github.com/Dreameh/sailboat-logsite" class="link"> This website </a> <br/>
        <a href="https://github.com/Dreameh/python-simple-http" class="lin"> The python backend for handling http requests for the sailboat </a>
      </div>
    </article>
  </div>
</section>
