<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Coordinates
      </h1>
      <h2 class="subtitle">
        Insert new coordinates
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <form [formGroup]="coordForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label">Latitude</label>
        <div class="control">
          <input class="input is-rounded" type="text" formControlName="latitude">
        </div>
      </div>

      <div class="field">
        <label class="label">Longitude</label>
        <div class="control">
          <input class="input is-rounded" type="text" formControlName="longitude">
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-primary">Submit</button>
      </div>
    </form>
  </div>
</section>
