<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/logo.svg" style=" height: auto; width: 70px;" />
    </a>
    <h3 class="navbar-item has-text-weight-medium is-size-4"> SS Agneta Log </h3>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary" href="/coords">
          <strong> Coords </strong>
        </a>
        <a class="button is-light" href="/log">
          Log
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Sailboat Log</strong> by <a href="https://ha.ax">Åland Polytechnic</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
