<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Log
      </h1>
      <h2 class="subtitle">
        Check sailboat logs
      </h2>
    </div>
  </div>
</section>

<!-- Terminal
     <h3>System</h3>
     <div class="terminal">
	   <ul>
	   <li><pre>Name: {{sailboat.name}}</pre></li>
	   <li><pre>Initial Test: {{sailboat.initial_test}}</pre></li>
	   <li><pre>Modules: {{sailboat.modules}}</pre></li>
	   <li><pre>Finished: {{sailboat.finished}}</pre></li>
	   </ul>
     </div>
     <h3> Heading </h3>
     <div class="terminal">
	   <ul>
	   <li><pre>Current Position: {{sailboat.position.current_pos}}</pre></li>
	   <li><pre>Destination Position: {{sailboat.position.destination_pos}}</pre></li>
	   <li><pre>Heading: {{sailboat.position.heading}}</pre></li>
	   </ul>
     </div> -->
